<div class="accountHomeBox">
    <h2 class="accountTitle"><%- title %></h2>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="error">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
        </ul>
      <% } %>

      <p>You're logged in!</p>
      <a href="/account/logout">Click here to log out of your account.</a>
</div>