<%# views/partials/header.ejs %>

<header id="topHeader">
	<h1><a href="/">CSE Motors</a></h1>
	<div id="tools">
    <a href="/account/login" title="Click to access your account" class="homeAccountLink">My Account</a>
  </div>
</header>
