/** public/css/styles.css */

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* ================================================================== */
/* START OF SMALL VIEW STYLING */
/* ================================================================== */

/* Start of Small View Styling */
/* Start of Small General Page Styling */
body {
  background: url(/images/site/small_check.jpg);
}

#mainWrapper {
  background-color: white;
  border: 3px solid #32475C;
  border-radius: 0.8rem;
  height: 100%;
  min-height: 99vh;
}

main {
  padding: 0.5rem;
}

.success,
.notice,
.error {
  list-style: none;
  padding-left: 0rem;
}

.success > li,
.notice > li,
.error > li {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.success > li {
  background-color: rgba(38, 255, 0, 0.5);

}
.notice > li {
  background-color: rgba(255, 215, 0, 0.5)
}

.error > li {
  background-color: rgba(255, 0, 0, 0.5);
}

/* .success:empty,
.notice:empty,
.error:empty {
  display: none;
} */

nav > ul > li,
.upgradesMain > h2,
.upgradeItem > a,
.reviewsBox > h2,
.classificationBox > h2,
.namePrice,
.loginTitle,
.loginForm > p,
.registerTitle,
.copyright {
  text-align: center;
}
/* End of Small General Page Styling */

/* Start of Small Header Styling */
header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 2rem;
}

h1 > a,
#tools > a {
  text-decoration: none;
  color: black;
}

#tools {
  padding: 0.5rem;
}

/* Start of Small Nav Styling */
nav {
  background-color: #32475C;
  color: white;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: 100%;
  padding-left: 0%;
  margin-top: 0px;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  display: block;
  height: 200%;
  line-height: 3rem;
  width: 100%;
}

nav > ul > li {
  width: 100%;
  height: 100%;
  transition: 0.25s;
}

nav > ul > li:hover {
  background-color: #243342;
  border-radius: 0.5rem;
}
/* End of Small Nav Styling */
/* End of Small Header Styling */

/* Start of Small Main Car Box Styling */
.carDescription {
  position: absolute;
  z-index: 9;
  width: fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(76, 150, 214);
}

.carDescription * {
  margin: 0.5rem;
}

.carDescription > a > img {
  width: 125px;
}

.carBox > img {
  width: 80%;
  margin-left: 20%;
}
/* End of Small Main Car Box Styling */

/* Start of Small Reviews Styling */
.reviewsBox > ul {
  padding-left: 1rem;
}

.reviewsBox > ul > li {
  margin-bottom: 0.5rem;
}
/* End of Small Reviews Styling */

/* Start of Small Upgrades Styling */
.upgradesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.upgradeItem {
  max-width: 40%;
  min-width: 158px;
}

.imgBox {
  display: flex;
  background-color: rgb(76, 150, 214);
  border: 1px solid black;
  justify-content: center;
  padding: 0.5rem;
}

.imgBox > img {
  width: 65px;
  height: 65px;
}

/* End of Small Upgrades Styling */

/* Start of Small Classification View Styling */
.classificationBox > h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

#inv-display {
  list-style-type: none;
  padding: 2rem 0rem;
  width: 102%;
  margin-left: -1%;
  background-color: #32475c30;
}

#inv-display > li {
  max-width: 385px;
  height: fit-content;
  margin: auto auto 2rem auto;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: 0.25s;
}

#inv-display > li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.classificationLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

.classificationLink > p {
  margin: 0rem;
}

.noVehiclesFound {
  text-align: center;
}

/* End of Small Classification View Styling */

/* Start of Small Single Vehicle View Styling */
.singleVehicleBox {
  margin: 2rem auto;
  width: 90%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.singleVehicleBox > img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.8rem;
}

.singleVehicleInfo {
  padding: 0.5rem;
}

.singleVehicleInfo > ul {
  padding-left: 1rem;
}

.singleVehicleInfo > ul > li {
  padding: 0.25rem;
}
/* End of Small Single Vehicle View Styling */

/* Start of Small Login & Register Pages Styling  */
.loginForm,
.registerForm,
.newClassificationForm,
.newVehicleForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-color: #32475C;
  padding: 1rem;
  width: 70%;
  margin: auto;
}

input:focus:invalid,
textarea:focus:invalid {
  background-color: rgb(255, 138, 138);
}

input:valid,
input:not(:focus):valid,
textarea:not(:focus):valid,
select:not(:focus):valid {
  background-color: rgb(152, 255, 134);
}

#login_account_email,
#login_account_password {
  background-color: white;
}

.backToLoginLink {
  display: block;
  padding: 0.25rem;
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: fit-content;
  margin-bottom: 1rem;
}

.loginForm,
.registerForm,
.newClassificationForm,
.newVehicleForm,
#submit,
#passwordBtn {
  border-radius: 0.5rem;
  font-weight: bold;
}

#submit,
#passwordBtn {
  width: fit-content;
  padding: 0.25rem;
  background-color: white;
  color: black;
  border-radius: 0.25rem;
  transition: 0.25s;
}

#submit {
  margin: auto;
  font-size: 1rem;
}

#passwordBtn {
  font-size: 0.75rem;
}

#submit:hover,
#passwordBtn:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#signUpLink {
  color: white;
}

.formParagraph,
.formParagraph > ul {
  margin: 0rem 1rem;
  font-size: 0.75rem;
  padding-left: 0rem;
}
/* End of Small Login & Register Pages Styling  */

/* Start of Small Inventory Management / Add Classification / Add Vehicle Page Styling */
.vehicleManagementLink {
  display: block;
  padding: 1rem;
  font-size: 1.1rem;
}

.newVehicleForm > select,
.newVehicleForm > input,
.newVehicleForm > textarea {
  padding: 0.25rem;
  border-radius: 0.25rem;
}
/* End of Small Inventory Management Page Styling */
/* ================================================================== */
/* END OF SMALL VIEW STYLING */
/* ================================================================== */


/* ================================================================== */
/* START OF MEDIUM/LARGE VIEW STYLING */
/* ================================================================== */

/* Start of Medium/Large View Styling */
@media screen and (min-width: 780px) {
  /* Start of Medium/Large General Page Styling */
  body {
    width: 80%;
    margin: 1rem auto;
  }

  .homeMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .welcomeTitle {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
  }
  /* End of Medium/Large General Page Styling */

  /* Start of Medium/Large Header Styling */
  /* Start of Medium/Large Nav Styling */
  nav > ul {
    font-size: 1.25rem;
  }
  /* End of Medium/Large Nav Styling */
  /* End of Medium/Large Header Styling */

  /* Start of Medium/Large Main Car Box Styling */
  .carBox {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
  }

  .carDescription {
    margin-left: 20%;
    font-size: 1.25rem;
  }

  .carDescription * {
    margin: 0.5rem;
  }

  .carDescription > a > img {
    width: 125px;
  }

  .carBox > img {
    max-width: 50%;
    margin-left: 30%;
  }
  /* End of Medium/Large Main Car Box Styling */

  /* Start of Medium/Large Reviews Styling */
  .reviewsBox {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .reviewsBox > ul > li {
    margin-bottom: 2rem;
  }
  /* End of Medium/Large Reviews Styling */

  /* Start of Medium/Large Upgrades Styling */
  .upgradesBox {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .upgradeItem {
    max-width: 180px;
  }
  /* End of Medium/Large Upgrades Styling */

  /* Start of Medium/Large Classification View Styling */
  .classificationBox {
    width: 100%;
  }

  #inv-display {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  #inv-display > li {
    width: 45%;
    margin: 0px;
    height: 270px;
  }
  /* End of Medium/Large Classification View Styling */

  /* Start of Medium/Large Single Vehicle View Styling */
  .singleVehicleBox {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
    gap: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .singleVehicleBox > img {
    width: 55%;
    height: 95%;
    padding: 0.5rem;
    margin-top: 0rem;
  }

  .singleVehicleInfo {
    padding: 0.5rem;
  }

  .singleVehicleInfo > ul {
    padding-left: 1rem;
  }

  .singleVehicleInfo > ul > li {
    padding: 0.25rem;
  }
  /* End of Medium/Large Single Vehicle View Styling */

}
/* ================================================================== */
/* END OF MEDIUM/LARGE VIEW STYLING */
/* ================================================================== */
