<!-- views/inventory/classification.ejs -->
<div class="classificationBox">
  <% if (title) { %>
  <h2> <%= title %></h2>
  <hr>
  <%- messages() %>
  <% } else {
    res.redirect('/')
  } %>
  <%- grid %>
</div>