<h2 class="invManagementTitle"><%- title %></h2>
<%- messages() %>
<div class="managementLinksBox">
  <a href="/inv/add-classification" class="vehicleManagementBtn">Add New Classification</a>
  <a href="/inv/add-inventory" class="vehicleManagementBtn">Add New Vehicle</a>
</div>