<%# views/inventory/management.ejs %>

<h2 class="invManagementTitle"><%- title %></h2>
<%- messages() %>
<div class="managementLinksBox">
  <a href="/inv/add-classification" class="vehicleManagementLink">Add New Classification</a>
  <a href="/inv/add-inventory" class="vehicleManagementLink">Add New Vehicle</a>
</div>